{% extends 'base.html.twig' %}

{% block body %}
    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <h1>Welcome to</h1>
            <p>Documentation for API</p>
        </div>

        <div id="products" class="page-header">
            <h1>Products</h1>
        </div>

        <div id="carts" class="page-header">
            <h1>Carts</h1>
        </div>
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading"><h5><span class="label label-success">Get</span> Individual cart</h5></div>
                <div class="panel-body">
                    <p>Request:</p>
                    HTTP/1.1 200 OK
                    Content-Type: application/vnd.api+json

                    {
                    "links": {
                    "self": "http://example.com/articles/1"
                    },
                    "data": {
                    "type": "articles",
                    "id": "1",
                    "attributes": {
                    "title": "JSON API paints my bikeshed!"
                    },
                    "relationships": {
                    "author": {
                    "links": {
                    "related": "http://example.com/carts/1/products"
                    }
                    }
                    }
                    }
                    }
                    <pre><code class="hljs http">
<span class="request">GET <span class="string">/carts</span> HTTP/1.1</span>
<span class="attribute">Accept</span>: <span class="string">application/vnd.api+json</span>
                    </code></pre>

                    <p>Response:</p>

                    <pre><code class="hljs http">
<span class="status">HTTP/1.1 <span class="number">200</span> OK</span>
<span class="attribute">Content-Type</span>: <span class="string">application/vnd.api+json</span>
<span class="attribute">Accept</span>: <span class="string">application/vnd.api+json</span>

<span class="jsonlike">{
  "<span class="attribute">data</span>": <span class="value">{
    "<span class="attribute">type</span>": <span class="string">"photos"</span>,
    "<span class="attribute">attributes</span>": {
      "<span class="attribute">title</span>": <span class="string">"Ember Hamster"</span>,
      "<span class="attribute">src</span>": <span class="string">"http://example.com/images/productivity.png"</span>
    },
    "<span class="attribute">relationships</span>": {
      "<span class="attribute">photographer</span>": {
        "<span class="attribute">data</span>": { "<span class="attribute">type</span>": <span class="string">"people"</span>, "<span class="attribute">id</span>": <span class="string">"9"</span> }
      }
    }
  }</span>
}</span>
                    </code></pre>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="panel panel-danger">
                <div class="panel-heading"><h5><span class="label label-danger">Post</span> New cart</h5></div>
                <div class="panel-body">
                    <pre><code class="hljs http">
<span class="request">POST <span class="string">/carts</span> HTTP/1.1</span>
<span class="attribute">Content-Type</span>: <span class="string">application/vnd.api+json</span>
<span class="attribute">Accept</span>: <span class="string">application/vnd.api+json</span>

<span class="jsonlike">{
  "<span class="attribute">data</span>": <span class="value">{
    "<span class="attribute">type</span>": <span class="string">"photos"</span>,
    "<span class="attribute">attributes</span>": {
      "<span class="attribute">title</span>": <span class="string">"Ember Hamster"</span>,
      "<span class="attribute">src</span>": <span class="string">"http://example.com/images/productivity.png"</span>
    },
    "<span class="attribute">relationships</span>": {
      "<span class="attribute">photographer</span>": {
        "<span class="attribute">data</span>": { "<span class="attribute">type</span>": <span class="string">"people"</span>, "<span class="attribute">id</span>": <span class="string">"9"</span> }
      }
    }
  }</span>
}</span>
                    </code></pre>
                </div>
            </div>
        </div>

        Products in the cart

        HTTP/1.1 200 OK
        Content-Type: application/vnd.api+json

        {
        "links": {
        "self": "/carts/1/relationships/products",
        "related": "/carts/1/products"
        },
        "data": [
        { "type": "products", "id": "2" },
        { "type": "products", "id": "3" }
        ]
        }



        /*Add one product to a cart:
        POST /articles/1/relationships/comments HTTP/1.1
        Content-Type: application/vnd.api+json
        Accept: application/vnd.api+json

        {
        "data": [
        { "type": "comments", "id": "123" }
        ]
        }*/


        /*
        Remove selected products from the cart:

        DELETE /articles/1/relationships/comments HTTP/1.1
        Content-Type: application/vnd.api+json
        Accept: application/vnd.api+json

        {
        "data": [
        { "type": "comments", "id": "12" },
        { "type": "comments", "id": "13" }
        ]
        }

        A server MUST return a 204 No Content status code if an update is successful and the representation of the resource in the request matches the result. It is also the appropriate response to a DELETE request sent to a URL from a to-many relationship link when that relationship does not exist.*/


        /*
        Replace all products in the cart:

        PATCH /articles/1/relationships/tags HTTP/1.1
        Content-Type: application/vnd.api+json
        Accept: application/vnd.api+json

        {
        "data": [
        { "type": "tags", "id": "2" },
        { "type": "tags", "id": "3" }
        ]
        }*/

        /*
        Clear all products in the cart:
        PATCH /articles/1/relationships/tags HTTP/1.1
        Content-Type: application/vnd.api+json
        Accept: application/vnd.api+json

        {
        "data": []
        }*/

    </div>
{% endblock %}

{% block stylesheets %}
<style>
    code, kbd, pre, samp {
        font-family: monospace,serif;
        font-size: 0.85em;
    }
    pre code {
        color: #333;
        display: block;
        padding: 0.5em;
    }
    pre .jsonlike .attribute, pre .jsonlike .string, pre .http .attribute, pre .http .ne .status, pre .http .status .number {
        color: #008080;
    }
    pre .jsonlike .value .string, pre .http .string {
        color: #d14;
    }
    pre .jsonlike .comment {
        color: #998;
        font-style: italic;
    }
    pre .http .request, pre .http .status {
        font-weight: bold;
    }
    pre .http .sql .string {
        color: #333;
    }
</style>

{% endblock %}